.center-button {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  table, td {
    border: 1px solid black;
  }

  #topright {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}